:root {
  --gris: #32373d;
  --negro: #000000;
  --blanco: #ffffff;
  --violeta: #2e0014;
  --rojo: #ff1b1c;
}

.raya {
  width: 100px;
  height: 5px;
  background-color: var(--rojo);
}

#sobre-mi {
  height: 100vh; 
  background-color: var(--negro);
}